 * {
     padding: 0;
     margin: 0;

 }

 .container {
     width: 100%;
     margin: 0 auto;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .header {
     height: 60px;
     width: 100%;
     background-color: black;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;

 }

 .header-links {
     width: 100%;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     list-style-type: none;

 }

 .nav-bar-links {
     color: white;
     margin-right: 10px;
     font-size: x-large;
     text-decoration: none;


 }

 .links {
     display: flex;
     align-items: center;
     justify-content: space-between;
     text-decoration: none;
     list-style-type: none;
 }

 .nav-title {
     margin-right: 30px;
     font-size: xx-large;

 }

 .btn {
     margin-left: 80px;
     font-size: large;
     background-color: rgb(23, 162, 184);
     border-color: rgb(23, 162, 184);
     color: white;
 }

 .columns {
     width: 100%;
     display: flex;
     align-content: top;
     justify-content: center;



 }

 .left-column {
     margin-left: 200px;
 }

 .top-left-block {
     width: 480px;
     height: 330px;
     background-color: white;

     margin: 20px;
     margin-right: px;


 }

 .blue-rectangle {
     width: 480px;
     height: 25%;
     background-color: rgb(23, 162, 184);

 }

 #profile-pic {
     width: 100px;
     position: relative;
     top: 30px;
     left: 26px;
     border-radius: 50%;

 }


 .profile-info-box {
     width: 468px;
     height: 235.5px;
     color: black;
     background-color: white;
     border-left: 6px solid rgb(204, 204, 204);
     border-right: 6px solid rgb(204, 204, 204);
     border-bottom: 6px solid rgb(204, 204, 204);
     color: black;
     font-size: xx-large;
 }

 .profile-name {
     padding-top: 60px;
     padding-left: 20px;
 }

 .location {
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 0px;
 }

 #map-maker {
     width: 16px;
     margin-left: 20px;
     margin-right: 6px;

 }

 .info-size-1 {
     font-size: large;
     margin-left: 20px;
 }

 #gear {
     width: 16px;
 }

 .edit-profile {
     font-size: large;
     margin-left: 20px;
     margin-top: 10px;
 }

 .bottom-left-block {
     width: 480px;
     height: 230px;
     background-color: white;

     margin: 20px;
 }

 .edu {
     width: 480px;
     height: 20%;
     background-color: rgb(51, 51, 51);
     color: white;
     display: flex;
     align-items: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: large;
 }

 .edu-top-text {
     margin-left: 20px;

 }

 .edu-info {
     width: 468px;
     height: 172px;

     background-color: white;
     border-left: 6px solid rgb(204, 204, 204);
     border-right: 6px solid rgb(204, 204, 204);
     border-bottom: 6px solid rgb(204, 204, 204);
     color: black;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: xx-large;
 }

 ol {
     padding-top: 14px;
 }

 .main-edu {
     margin-left: 20px;
     list-style-type: none;
     font-size: large;
 }

 .date-edu {
     margin-left: 20px;
     color: rgb(130, 130, 130);
     list-style-type: none;
     font-size: medium;

 }

 .right-column {
     margin-right: 200px;
 }

 .top-right-block {
     width: 280px;
     height: 195px;
     background-color: white;
     margin-top: 20px;
     margin-left: 20px;

 }

 .connections-request {
     width: 100%;
     height: 25%;
     background-color: rgb(51, 51, 51);
     color: white;
     display: flex;
     align-items: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: x-large;

 }

 .request-button {
     margin-left: 20px;
     border-radius: 50%;
     font-size: large;
     width: 40px;
     height: 40px;

 }

 .requester-info {
     display: flex;
     align-items: center;
     width: 268px;
     height: 150.50px;
     border-left: 6px solid rgb(204, 204, 204);
     border-right: 6px solid rgb(204, 204, 204);
     border-bottom: 6px solid rgb(204, 204, 204);
     color: black;

 }

 .requester-pic {
     width: 40px;
     margin: 2px;
     border-radius: 50%;
 }

 .requester-name {
     font-size: large;
 }

 .check-mark {
     padding-left: 45px;
 }

 .bottom-right-block {
     width: 280px;
     height: 300px;
     background-color: white;

     margin: 40px;
     margin-left: 20px;
 }

 .your-connetions {
     width: 100%;
     height: 20%;
     background-color: rgb(51, 51, 51);
     color: white;
     display: flex;
     align-items: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 }

 .your-connections-info {
     width: 268px;
     height: 198px;
     border-left: 6px solid rgb(204, 204, 204);
     border-right: 6px solid rgb(204, 204, 204);
     border-bottom: 6px solid rgb(204, 204, 204);
     color: black;
     display: flex;
     align-items: center;
 }


 .your-connections-extras {
     width: 268px;
     height: 48px;
     border-left: 6px solid rgb(204, 204, 204);
     border-right: 6px solid rgb(204, 204, 204);
     border-bottom: 6px solid rgb(204, 204, 204);
     color: black;
 }

 .veiw-more {
     font-size: medium;
     margin-left: 20px;
     margin-top: 24px;
 }